<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.trueearning.pro">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/logo_a"
        android:label="বেশি ইনকাম"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/logo_a"
        android:supportsRtl="true"
        android:theme="@style/TrueEarning"
        tools:targetApi="33">
        <activity
            android:name="com.trueearning.pro.StepOne"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.trueearning.pro.StepTwo"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.trueearning.pro.Settings"
            android:exported="false" />
        <activity
            android:name="com.trueearning.pro.Earning"
            android:exported="false" />

        <receiver
            android:name=".Utility.NetworkChangeListener"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="applovin.sdk.key"
            android:value="@string/sdk_key" />
        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7876606578394375~3285545792"/>

        <activity
            android:name=".FirstScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.trueearning.pro.Login"
            android:exported="true" />
        <activity
            android:name="com.trueearning.pro.UserProfile"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:host="example.com"
                    android:scheme="https"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".Home"
            android:exported="true" />
        <activity
            android:name=".SignUp"
            android:exported="true" />
        <activity
            android:name="com.trueearning.pro.MainActivity"
            android:exported="true" />
        <activity
            android:name="com.trueearning.pro.MahinActivity"
            android:exported="true" />
    </application>

</manifest>